/* For Tablets */
@media all and (max-width: 1000px){
  .navbar{
    width: 250px;
    height: 100%;
    background-color: #262626;
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20% 0 0 20%;
    transition: right .8s cubic-bezier(1, 0, 0, 1);
    margin-right: 0px;
  }

.change {
    right: 0;
}

.hamburger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 20px;
    right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line{
    width: 100%;
    height: 3px;
    background-color: chocolate;
    transition: all 0.8s;
}

.change .line-1{
    transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .line-2{
    opacity: 0;
}

.change .line-3{
    transform: rotateZ(405deg) translate(-8px, -6px);
}

.nav-list{
    text-align: right;
}

.nav-list li{
    display: block;
}


.nav-item{
    list-style: none;
    margin: 25px;
}

.nav-link{
    text-decoration: none;
    font-size: 22px;
    color: #eee;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
}

.nav-link::before, .nav-link::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: chocolate;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.nav-link::after{
    bottom: 0;
    transform-origin: right;
}

.nav-link::before{
    top: 0;
    transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after{
    transform: scaleX(1);
}

    .top-wrapper{
        padding-top: 80px;
        padding-bottom: 150px;
    }

    .intro{
        margin-left: 40%;
        background-color: rgba(125, 184, 238, 0.2);
        padding: 1%;
    }

    #instrument{
        height : 990px;
    }

    .flex-list{
        flex-wrap: wrap;
      }
      
      .flex-list li{
        flex: auto;
        width: 40%;
      }

      .gallery:hover {
        width: 50%;
      }

      .coach-content{
        width: 100%;
      }

      .card {
        width: 28%;
      }
}


@media all and (max-width: 680px){
    .top-wrapper{
        height: 520px;
    }
    .intro{
        margin-left: 0;
        background-color: rgba(125, 184, 238, 0.5);
        padding: 1%;
        text-align: center;
    }
    .intro h1{
        font-size: 40px;
    }
    .btn-wrapper {
        margin: 10px auto;
    }
    #instrument{
        height : 790px;
    }
    .contact-list{
        flex-wrap: wrap;
    }
      
    .contact-list li{
        flex: auto;
        width: 98%;
    }
    #contact textarea{
        height: 100px;
    }

    .contact-form{
        padding-top: 15px;
    }

    .map{
        padding: 15px 10px;
    }

    
      
      .active {
        background-color: rgba(125, 180, 231, 0.2);
        color: white;
      }

      .card {
        width: 30%;
      }

      .coach-content{
        width: 100%;
        height: 370px;
      }

      .box.wa{
          padding:5px 5px ;
      }
      .gallery:hover {
        width: 44%;
      }
      .box{
        font-size: 0;
      }
      .box img{
        width: 30px;
      }
}