/* For Tablets */
@media all and (max-width: 1000px){

    .top-wrapper{
        padding-top: 80px;
        padding-bottom: 150px;
    }

    .header-left {
        float: left;
        padding-left: 0px;
    }

    .intro{
        margin-left: 40%;
        background-color: rgba(125, 184, 238, 0.2);
        padding: 1%;
    }

    #instrument{
        height : 990px;
    }

    .flex-list{
        flex-wrap: wrap;
      }
      
      .flex-list li{
        flex: auto;
        width: 40%;
      }

      .gallery:hover {
        width: 50%;
      }

      .coach-content{
        width: 100%;
      }

      .card {
        width: 28%;
      }
}


@media all and (max-width: 680px){
    .top-wrapper{
        height: 520px;
    }
    .header-right{
        display: none;
    }
    .intro{
        margin-left: 0;
        background-color: rgba(125, 184, 238, 0.5);
        padding: 1%;
        text-align: center;
    }
    .intro h1{
        font-size: 40px;
    }
    .btn-wrapper {
        margin: 10px auto;
    }
    #instrument{
        height : 790px;
    }
    .contact-list{
        flex-wrap: wrap;
    }
      
    .contact-list li{
        flex: auto;
        width: 98%;
    }
    #contact textarea{
        height: 100px;
    }

    .contact-form{
        padding-top: 15px;
    }

    .map{
        padding: 15px 10px;
    }

    .mobile-container {
        width: 150px;
        margin: auto;
        color: white;
        border-radius: 10px;
        display: block;
        float: right;

      }
      
      .topnav {
          margin-top: 5px; 
        overflow: hidden;
        background-color: #333;
        position: relative;
      }
      
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      .active {
        background-color: rgba(125, 180, 231, 0.2);
        color: white;
      }

      .card {
        width: 30%;
      }

      .coach-content{
        width: 100%;
        height: 370px;
      }

      .box.wa{
          padding:5px 5px ;
      }
      .gallery:hover {
        width: 44%;
      }
      .box{
        font-size: 0;
      }
      .box img{
        width: 30px;
      }
}