*{
  box-sizing: border-box;
}
  
body {
  margin: 0;
  font-family: "Roboto";
}
  
a {
  text-decoration: none;
}
  
img{
    max-width: 100%; max-height: 100%;
}

.clear {
  clear: left;
  clear: right;
}
  
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.mySlides {display: none}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.116);
  position :fixed;
  top: 0;
  z-index: 10;
  text-shadow: 2px 2px black;
}
  
.logo {
  width: 124px;
}
  
.header-left {
  float: left;
  padding-left: 180px;
  animation-name: gal;
  animation-duration: 4s;
}

@keyframes gal {
  0%   {padding-left: 0px; }
  50%  {padding-left: 400px;}
  100% {padding-left: 180px;}
}

.header-left img {
  width: 180px;
}
  
.header-right {
  margin-right: -25px;
  margin-top: -25px;
}
  
.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}
  
.header-right a:hover {
  background-color: rgba(0, 0, 0, 0.89);
}

.mobile-container{
  display: none;
}
  
.top-wrapper {
  padding: 130px 0 100px 0;
  background-image: url('Assets/pexels-karolina-grabowska-4472063.jpg') ;
  background-size: cover;
  color: black;
  text-align: left;
  height: 630px;
}

.intro{
  margin-left: 45%;
  background-color:rgba(0, 0, 0, 0.116);
  padding: 1%;
  animation-name: lol;
  animation-duration: 3s;
}

@keyframes lol {
  0%   {margin-left: 0%;}
  100% {margin-left: 45%;}
}

.intro h1{
  font-family: 'Roboto';font-size: 46px;
}

.intro span{
  font-size: 28px;
}


.btn-wrapper {
  margin: 10px 0 10px 200px;
}
  
.btn {
  padding: 16px 40px;
  color: rgb(255, 1, 1);
  display: inline-block;
  opacity: 0.7;
  border: black;
  border-style: solid;
  text-align: center;
}
  
.btn-wrapper p {
  margin: 10px 0;
}
  
.instagram {
  background-color: rgba(43, 43, 43, 0.116);
}

/*--                Instrument               --*/

#instrument{
  background-color: #E6E6FA;
	color: black;
	text-align: center;
	height : 630px;
	padding: 60px 20px 0 20px;
}

.about{
  text-align: center;
  font-size: 24px;
}

.about h1{
  font-size: 46px;
  animation-name: lery;
  animation-duration: 4s;
}

@keyframes lery {
  0%   {top: 50px;}
  100% {top: 0px;}
}

.project-content{
  text-align: center;
  margin: 20px 10px;
}

.flex-list{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0 10px;
  margin-top: 50px;
}

.flex-list li{
  flex: auto;
  width: 20%;
}

.gallery {
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  transition: width 1s;
}

.gallery:hover {
  border: 1px solid #777;
  width: 30%;
  transition: width 1s;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}

/*--                coach               --*/

#coach{
  background-image: url('Assets/pexels-stas-knop-1261578.jpg') ;
  background-size: cover;
  color: black;
  text-align: center;
  height : 630px;
  padding: 60px 20px 0 20px;
}

.coach-content{
  width: 90%;
  margin: 0 auto;
  background-color: rgba(43, 43, 43, 0.116);
  height: 470px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  height: 350px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
  margin: 20px auto;
}

.card h4{
  margin: 10px auto;
}

.card p{
  margin: 10px auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.content-card{
  display: flex;  
  text-align: left;
  flex-wrap: wrap;
  
}

  
.box {
  width: 100%;
  padding: 5px 40px;
  color: rgb(255, 255, 255);
  display: inline-block;
  opacity: 0.7;
  text-align: center;
  margin-bottom: 5px;
}
.box:hover{
  opacity: 1;
}
  
.ig {
  background-image: linear-gradient(to top right,#FEDA77,#F58529 ,#DD2A7B ,#8134AF, #515BD4)	;
}



/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


/*--                contact               --*/


#contact{
	background-image: url('Assets/pexels-sound-on-3394659.jpg');
	background-size: cover;
	color: black;
	color: black;
  text-align: center;
  height : 580px;
  padding: 60px 20px 0 20px;
}

.contact-content{
	width: 95%px;
	height: 450px;
	margin: 0 auto;
}

.contact-list{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0 10px;
}

.contact-list li{
  flex: auto;
  width: 50%;
}

.contact-form{
	padding-top: 30px;
	float: left;
  margin: 0 10px;
  width: 93%;
}

#contact h1{
	text-align: center;
	color: white;
	text-shadow: 2px 2px black;
}

#contact input, #contact textarea{
	display: block;
	width: 100%;
	height: 30px;
	margin-bottom: 12px;
	border: 2px solid black;
}

#contact textarea{
	height: 130px;
}

input[type="submit"]{
	background-color: #0074b9;
	color: white;
}

input[type="submit"]:hover{
	cursor: pointer;
	background-color: #148fd7;
}

.map{
  padding: 30px 10px 0 10px;
	float: left;
  margin: 0 10px;
  width: 90%;
  height: 95%;
}
.map iframe{
  width: 100%;
  height: 100%
}

/*--                footer               --*/



footer{
  background-color: black;
	color: white;
  text-align: center;
  height : 45px;
}

footer p{
  padding: 13px;
  margin-top: 0;
  margin-bottom: 0;
}

footer img{
  float: left
}
